<section>
    <link rel='stylesheet' href='/stylesheets/header.css' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

<header>
    <nav class="navbar navbar-expand-lg ">
 
        

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text" href="/shopping">Go to sports Items<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text" href="/viewticketbookings">Booked Matchs<span class="sr-only"></span></a>
                </li>
            </ul>
            
        </div>
    </nav>
</header>
    <link rel='stylesheet' href='/stylesheets/events.css' />
    <div class="main">
    {{#each events}}
        <div class="container">
            
            <div class="row1">
                <div>
                     <h4>{{this.matchDetails.category}}</h4>
                </div>
                <div>
                     <span>Match:{{this.matchDetails.team1}} vs {{this.matchDetails.team2}}</span>
                </div>
                <div>
                    <span>Venu:{{this.ground.GroundName}}</span>
                </div>
                <div>
                    <span>Location:{{this.ground.GroundAddress}}</span>
                </div>
                <div>
                    <span>Date:{{this.matchDetails.date}}</span>
                </div>
                <div>
                    <span>Time:{{this.matchDetails.start}}to{{this.matchDetails.end}}</span>
                </div>
            </div>
            <div class="row2">
                <a href="/booktickets/{{this._id}}" >Book Tickets</a>
            </div>
        </div>
    {{/each}}

    </div>
</section>